{% extends 'partials/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image img-fluid" 
    style="
      margin-top: 50px;
      margin-bottom: 50px;
      background-image: url('static/images/sample_image.jpg');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Eat What you Love !</h1>
          <h4 class="mb-3">About This Blog</h4>
        </div>
      </div>
    </div>
  </div>
 
  <div align="center">
    <p>
       <span> Eat What You Love </span> is not just a blog, but a community where 
       food lovers can share their favorite meals, interesting recipes and learn new ones.
    </p>
    <p>
        There is no wrong or right recipe, so feel free to post anything you love to cook :).
    </p>
    <p>
        Although we love to share recipes and cooking tips, feel free to share anything else food related. <br>
        It could be a picture of a nice meal you cooked, something you would love to cook in the future, <br>
        your favorite place to cook at, anything really ! 
    </p>
</div>

{% endblock %}