<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for post in posts %}
    <div class="col">
      <div class="card h-100">
        <img src="{{url_for('static', filename='images/sample_image.jpg') }}" class="card-img-top" alt="...">

        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <a class="text-decoration-none link-dark" href="/view-post/{{post.id}}">
                    <h5 class="card-title">{{post.title}}</h5>
                </a>

                {% if current_user == post.author %}
                <div class="btn-group">
                    <button type="button" class="btn btm-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a></li>
                        <li><a href="/edit-post/{{post.id}}" class="dropdown-item">Edit</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <small class="text-muted">
                By <a 
                    class="text-decoration-none" 
                    href="/posts/{{post.author.username}}">
                    {{post.author.username}}
                    </a>
                on {{post.date_created}}
            </small>
            <p class="card-text">{{post.summary}}</p>
        </div>

        <div class="card-footer">
            <small class="text-muted">
                {% for tag in post.tags %}
                    {{tag.name}}
                {% endfor %}
            </small>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
