{% extends 'partials/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1 align="center">Create a Post</h1>

<form action="" method="post">

    <div class="form-group">
        {{form.title.label}}
        {{form.title(class='form-control')}}
    </div>

    <div class="form-group">
        {{form.summary.label}}
        {{form.summary(class='form-control')}}
    </div>

    <div class="form-group">
        {{form.body.label}}
        {{form.body(class='form-control', cols="30", rows="10")}}
    </div>

   
    <div class="form-group">
        {{form.tags.label}}
        <div class="select-group">
            {{form.tags(class_="form-control selectpicker", placeholder_ = form.tags.label.text, data_live_search="true")}}
            <a href="create_post/add_tag" class="btn btn-lg btn-secondary">Add</a>

        </div>
    </div>
    <input type="hidden" name="hidden_tags" id="hidden_tags">
    <br>
    <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Post</button>
    </div>  
</form>


{% endblock %}

{% block script %}
<!-- 
<script 
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () {
        jQuery('.selectpicker').selectpicker();

            $('#tags').change(function(){
                $ ('#hidden_tags').val($('#tags').val())
            })
    });
</script> -->
{% endblock %}